body{
    background-color: rgb(217, 217, 233)
}
.meusLinks {
    margin:10px 0 0 10px;
    z-index: 1;
}

.bt_links {
    width: 30px;
}
.logo_linkedin {
    filter: invert(26%) sepia(100%) saturate(1353%) hue-rotate(191deg) brightness(96%) contrast(95%);
}